body {
  margin: 0;
  font-family: open sans, sans-serif;
}

@font-face {
  font-family: 'open sans';
  src: url(../fonts/OpenSans-Bold.woff);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'open sans';
  src: url(../fonts/OpenSans-Regular.woff);
  font-weight: 400;
  font-style: normal;
}

.welcome {
  background-image: url(../images/football_767.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}

.welcome::after {
  content: "";
  background-color: #08022f;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.6;
}

.header-logo {
  fill: white;
  width: 133px;
  height: 36px;
  padding-top: 33px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: relative;
  z-index: 10;
}

h1 {
  color: white;
  text-transform: uppercase;
  position: relative;
  z-index: 10;
  margin-top: 137px;
  margin-left: 20px;
  margin-bottom: 0;
  font-size: 28px;
  font-weight: 700;
}

.first-title {
  display: block;
  margin-bottom: 31px;
}

.second-title {
  display: block;
  padding-left: 44px;
  margin-bottom: 90px;
}

.store-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
}

.ios-button {
  width: 280px;
  height: 35px;
  border: 0;
  margin-top: 0;
  padding: 0;
  background-color: #5e42b0;
  border-radius: 17.5px;
  z-index: 8;
  position: relative;
}

.apple-logo {
  fill: white;
  width: 20px;
  height: 24px;
  align-items: center;
  margin-left: 82px;
  margin-top: 2.5px;
  margin-bottom: 7.5px;
  z-index: 10;
  position: relative;
}

.ios-button-title {
  display: flex;
}

.ios-button-text {
  display: flex;
  flex-wrap: wrap;
  width: 82px;
  margin-top: 8px;
  margin-left: 10px;
  margin-bottom: 8px;
}

.ios-button-text-regular {
  font-size: 7px;
  font-weight: 400;
  color: white;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 4px;
  z-index: 10;
}

.ios-button-text-bold {
  font-size: 7px;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  position: relative;
  z-index: 10;
}

.android-button {
  width: 280px;
  height: 35px;
  border: 0;
  margin-top: 14px;
  margin-bottom: 83px;
  margin-left: auto;
  margin-right: auto;
  background-color: #5e42b0;
  border-radius: 17.5px;
  z-index: 8;
  position: relative;
}

.android-button-title {
  display: flex;
}

.google-play-logo {
  fill: white;
  width: 22px;
  height: 24px;
  align-items: center;
  margin-left: 82px;
  margin-top: 2.5px;
  margin-bottom: 7.5px;
  z-index: 10;
  position: relative;
}

.android-button-text {
  display: flex;
  flex-wrap: wrap;
  width: 82px;
  margin-top: 8px;
  margin-left: 10px;
  margin-bottom: 8px;
}

.android-button-text-regular {
  font-size: 7px;
  font-weight: 400;
  color: white;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 4px;
  z-index: 10;
}

.android-button-text-bold {
  font-size: 7px;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  position: relative;
  z-index: 10;
}

.athlets-heading {
  background-color: #ffffff;
}

.heading-title {
  font-size: 50px;
  font-weight: 700;
  color: #e7e7e7;
  text-transform: uppercase;
  margin-top: 24.5px;
  margin-left: 20px;
  margin-bottom: 0;
}

.footballer {
  display: block;
  margin-top: 18px;
  margin-left: auto;
  margin-right: auto;
}

.connection {
  background-color: #fafafa;
  margin-top: -55px;
}

.article-heading {
  display: flex;
}

.serial-number {
  font-size: 14px;
  font-weight: 700;
  color: #000000;
  margin-left: 20px;
  margin-top: 60px;
  position: relative;
}

.serial-number::after {
  content: '';
  display: block;
  height: 3px;
  width: 15px;
  background: #5e42b0;
  align-items: center;
  margin-top: 4px;
  border-radius: 1.5px;
}

.article-title {
  font-size: 23px;
  font-weight: 700;
  color: #c1c1c1;
  text-transform: uppercase;
  margin-left: 9px;
  margin-top: 60px;
  margin-bottom: 0;
}

.article-text {
  font-size: 15px;
  font-weight: 400;
  color: #000000;
  margin-left: 20.5px;
  margin-top: 28px;
  margin-bottom: 0;
  padding-bottom: 52.5px;
}

.collaboration {
  background-color: #f5f4f9;
}

.growth {
  background-color: #5e42b0;
}

.growth>.article-heading>.serial-number::after {
  content: '';
  display: block;
  height: 3px;
  width: 15px;
  background: #ffffff;
  align-items: center;
  margin-top: 4px;
  border-radius: 1.5px;
}

.growth>.article-text {
  font-size: 15px;
  font-weight: 400;
  color: #ffffff;
  margin-left: 20.5px;
  margin-top: 28px;
  margin-bottom: 0;
  padding-bottom: 52.5px;
}

.players-heading {
  background-color: #ffffff;
}

.basketballer {
  display: block;
  margin-top: 22px;
  margin-left: auto;
  margin-right: auto;
}

.header-img {
  height: 351px;
  width: 100%;
}

.number-container {
  width: 70px;
  height: 70px;
  background-color: #5e42b0;
  margin-top: -58px;
  margin-left: 20px;
  position: absolute;
}

.serial-number-container {
  font-size: 14px;
  font-weight: 700;
  color: #f5f6f7;
  margin-left: 27.5px;
  margin-top: 27px;
}

.serial-number-container::after {
  content: '';
  display: block;
  height: 4px;
  width: 15px;
  background: #ffffff;
  opacity: 0.6;
  align-items: center;
  margin-top: 4px;
  border-radius: 1.5px;
}

.section-title {
  font-size: 28px;
  color: #e7e7e7;
  margin-left: 20px;
  margin-top: 34px;
  margin-bottom: 24px;
  text-transform: uppercase;
}

.section-text {
  font-size: 16px;
  font-weight: 400;
  color: #000000;
  margin-left: 20px;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 77px;
}

.footer {
  background-image: url(../images/game_767.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  margin-top: 0;
}

.footer::after {
  content: "";
  background-color: #08022f;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.6;
}

.logo-container {
  padding-top: 99px;
}

.logo-square {
  display: block;
  width: 72px;
  height: 74px;
  background-color: #53399f;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  z-index: 10;
  position: relative;
}

.footer-logo {
  display: block;
  fill: #ffffff;
  z-index: 10;
  position: relative;
  width: 55px;
  height: 50px;
  padding-top: 12px;
  margin-left: auto;
  margin-right: auto;
}

.downloading {
  margin-top: 59px;
  margin-left: 20px;
}

.download {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  z-index: 8;
  position: relative;
  margin-bottom: 0;
  text-align: center;
}

.download-text {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  color: #9b8ec1;
  z-index: 8;
  position: relative;
  margin-top: 14px;
  margin-bottom: 76px;
  text-align: center;
}

.footer-logo-text {
  display: block;
  fill: white;
  width: 133px;
  height: 36px;
  margin-top: 0;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 10;
}

@media (min-width: 641px) and (max-width: 960px) {
  .welcome {
    background-image: url(../images/football_1280.jpg);
  }

  .header-logo {
    width: 205px;
    height: 56px;
  }

  h1 {
    font-size: 64px;
    padding-left: 58px;
    margin-top: 181px;
  }

  .second-title {
    padding-left: 163px;
    margin-bottom: 313px;
  }

  .store-buttons {
    display: flex;
  }

  .ios-button {
    width: 310px;
    height: 77px;
    border-radius: 35px;
  }

  .apple-logo {
    fill: white;
    width: 36px;
    height: 42px;
    align-items: center;
    margin-left: 41px;
    margin-top: 16px;
    margin-bottom: 19px;
    z-index: 10;
    position: relative;
  }

  .ios-button-text {
    width: 150px;
    margin-top: 16px;
    margin-left: 28px;
    margin-bottom: 19px;
  }

  .ios-button-text-regular {
    font-size: 14px;
    text-align: left;
  }

  .ios-button-text-bold {
    font-size: 14px;
  }

  .android-button {
    width: 310px;
    height: 77px;
    border-radius: 35px;
    margin-top: 0;
    margin-left: 31px;
    margin-right: 0;
  }

  .google-play-logo {
    fill: white;
    width: 41px;
    height: 45px;
    align-items: center;
    margin-left: 56px;
    margin-top: 16px;
    margin-bottom: 15px;
    z-index: 10;
    position: relative;
  }

  .android-button-text {
    width: 150px;
    margin-top: 16px;
    margin-left: 28px;
    margin-bottom: 19px;
  }

  .android-button-text-regular {
    font-size: 14px;
    text-align: left;
  }

  .android-button-text-bold {
    font-size: 14px;
  }

  .heading-title {
    font-size: 80px;
    font-weight: 700;
    color: #e7e7e7;
    text-transform: uppercase;
    margin-top: 85px;
    margin-left: 292px;
    margin-bottom: 0;
  }

  .serial-number {
    font-size: 18px;
    font-weight: 700;
    color: #000000;
    margin-left: 292px;
    margin-top: 34px;
    position: relative;
  }

  .serial-number::after {
    content: '';
    display: block;
    height: 5px;
    width: 21px;
    background: #5e42b0;
    align-items: center;
    margin-top: 7px;
    border-radius: 1.5px;
  }

  .article-title {
    font-size: 23px;
    font-weight: 700;
    color: #c1c1c1;
    text-transform: uppercase;
    margin-left: 9px;
    margin-top: 34px;
    margin-bottom: 0;
  }

  .article-text {
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    margin-left: 292px;
    margin-right: 33px;
    margin-top: 33px;
    margin-bottom: 0;
    padding-bottom: 34px;
  }

  .growth>.article-heading>.serial-number::after {
    content: '';
    display: block;
    height: 5px;
    width: 21px;
    background: #ffffff;
    align-items: center;
    margin-top: 7px;
    border-radius: 1.5px;
  }

  .growth>.article-text {
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    margin-left: 292px;
    margin-right: 33px;
    margin-top: 33px;
    margin-bottom: 0;
    padding-bottom: 34px;
  }

  .footballer {
    display: block;
    margin-top: -60px;
    margin-left: -162px;
    margin-right: 0;
  }

  .connection {
    margin-top: -600px;
    background-color: white;
  }

  .basketballer {
    margin-top: -104px;
    margin-right: 0px;
  }

  .players-heading>.heading-title {
    font-size: 80px;
    font-weight: 700;
    color: #e7e7e7;
    text-transform: uppercase;
    margin-top: 85px;
    margin-left: 35px;
    margin-bottom: 0;
  }

  .players .serial-number {
    font-size: 18px;
    font-weight: 700;
    color: #000000;
    margin-left: 32px;
    margin-top: 204px;
    position: relative;
  }

  .players .collaboration .serial-number {
    font-size: 18px;
    font-weight: 700;
    color: #000000;
    margin-left: 32px;
    margin-top: 44px;
    position: relative;
  }

  .players .growth .serial-number {
    font-size: 18px;
    font-weight: 700;
    color: #000000;
    margin-left: 32px;
    margin-top: 44px;
    position: relative;
  }

  .players .article-title {
    font-size: 32px;
    font-weight: 700;
    color: #c1c1c1;
    text-transform: uppercase;
    margin-left: 11px;
    margin-top: 203px;
    margin-bottom: 0;
  }

  .players .collaboration .article-title {
    font-size: 32px;
    font-weight: 700;
    color: #c1c1c1;
    text-transform: uppercase;
    margin-left: 11px;
    margin-top: 44px;
    margin-bottom: 0;
  }

  .players .growth .article-title {
    font-size: 32px;
    font-weight: 700;
    color: #c1c1c1;
    text-transform: uppercase;
    margin-left: 11px;
    margin-top: 44px;
    margin-bottom: 0;
  }

  .players .article-text {
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    display: block;
    margin-left: 32px;
    margin-right: 337px;
    margin-top: 33px;
    margin-bottom: 0;
    padding-bottom: 34px;
  }

  .players .growth .article-text {
    font-size: 15px;
    font-weight: 400;
    color: #ffffff;
    margin-left: 20.5px;
    margin-top: 28px;
    margin-bottom: 0;
    padding-bottom: 52.5px;
  }

  .number-container {
    width: 116px;
    height: 116px;
    background-color: #5e42b0;
    margin-top: -58px;
    margin-left: 20px;
    position: absolute;
  }

  .serial-number-container {
    font-size: 24px;
    font-weight: 700;
    color: #f5f6f7;
    margin-left: 45px;
    margin-top: 43px;
  }

  .serial-number-container::after {
    content: '';
    display: block;
    height: 5px;
    width: 25px;
    background: #ffffff;
    opacity: 0.6;
    align-items: center;
    border-radius: 1.5px;
  }

  .section-title {
    font-size: 80px;
    color: #e7e7e7;
    margin-left: 33px;
    margin-top: 55px;
    margin-bottom: 38px;
    text-transform: uppercase;
  }

  .section-text {
    font-size: 24px;
    font-weight: 400;
    color: #000000;
    margin-left: 33px;
    margin-right: 74px;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 96px;
  }

  .footer {
    background-image: url(../images/game_1280.jpg);
  }

  .logo-container {
    padding-top: 126px;
  }

  .logo-square {
    display: block;
    width: 130px;
    height: 137px;
    background-color: #53399f;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    z-index: 10;
    position: relative;
  }

  .footer-logo {
    display: block;
    fill: #ffffff;
    z-index: 10;
    position: relative;
    width: 105px;
    height: 87px;
    padding-top: 24px;
    margin-left: auto;
    margin-right: auto;
  }

  .downloading {
    margin-top: 82px;
    margin-left: 32px;
  }

  .download {
    font-size: 80px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    z-index: 8;
    position: relative;
    margin-bottom: 0;
    text-align: center;
  }

  .download-text {
    font-size: 36px;
    font-weight: 400;
    text-transform: uppercase;
    color: #9b8ec1;
    z-index: 8;
    position: relative;
    margin-top: 29px;
    margin-bottom: 288px;
    text-align: center;
  }

  .footer .android-button {
    margin-bottom: 55px;
  }

  .footer-logo-text {
    display: block;
    fill: white;
    width: 205px;
    height: 56px;
    margin-top: 0;
    padding-bottom: 24px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 10;
  }
}

@media (min-width: 961px) and (max-width: 1920px) {
  .welcome {
    background-image: url(../images/football_1920.jpg);
  }

  .header-logo {
    width: 191px;
    height: 52px;
    padding-top: 45px;
  }

  h1 {
    display: block;
    font-size: 90px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 295px;
  }

  .first-title {
    padding-left: 192px;
    margin-bottom: 27px;
  }

  .second-title {
    display: inline-block;
    padding-left: 644px;
    margin-bottom: 223px;
  }

  .store-buttons {
    display: flex;
  }

  .ios-button {
    width: 310px;
    height: 77px;
    border-radius: 35px;
  }

  .apple-logo {
    fill: white;
    width: 48px;
    height: 42px;
    align-items: center;
    margin-left: 38px;
    margin-top: 15px;
    margin-bottom: 18px;
    z-index: 10;
    position: relative;
  }

  .ios-button-text {
    width: 144px;
    margin-top: 25px;
    margin-left: 25px;
    padding-bottom: 18px;
  }

  .ios-button-text-regular {
    font-size: 14px;
    text-align: left;
  }

  .ios-button-text-bold {
    font-size: 14px;
  }

  .android-button {
    width: 310px;
    height: 77px;
    border-radius: 35px;
    margin-top: 0;
    margin-bottom: 110px;
    margin-left: 51px;
    margin-right: 0;
  }

  .google-play-logo {
    fill: white;
    width: 40px;
    height: 50px;
    align-items: center;
    margin-left: 56px;
    margin-top: 14px;
    margin-bottom: 13px;
    z-index: 10;
    position: relative;
  }

  .android-button-text {
    width: 103px;
    margin-top: 25px;
    margin-left: 29px;
    margin-bottom: 23px;
  }

  .android-button-text-regular {
    font-size: 14px;
    text-align: left;
  }

  .android-button-text-bold {
    font-size: 14px;
  }

  .heading-title {
    font-size: 80px;
    font-weight: 700;
    color: #e7e7e7;
    text-transform: uppercase;
    margin-top: 115px;
    margin-left: 1007px;
    margin-bottom: 0;
  }

  .connection .serial-number {
    font-size: 18px;
    font-weight: 700;
    color: #000000;
    margin-left: 1007px;
    margin-top: 110px;
    position: relative;
  }

  .serial-number {
    font-size: 18px;
    font-weight: 700;
    color: #000000;
    margin-left: 1007px;
    margin-top: 60px;
    position: relative;
  }

  .serial-number::after {
    content: '';
    display: block;
    height: 5px;
    width: 21px;
    background: #5e42b0;
    align-items: center;
    margin-top: 7px;
    border-radius: 1.5px;
  }

  .connection .article-title {
    font-size: 36px;
    font-weight: 700;
    color: #c1c1c1;
    text-transform: uppercase;
    margin-left: 10px;
    margin-top: 110px;
    margin-bottom: 0;
  }

  .article-title {
    font-size: 36px;
    font-weight: 700;
    color: #c1c1c1;
    text-transform: uppercase;
    margin-left: 10px;
    margin-top: 60px;
    margin-bottom: 0;
  }

  .article-text {
    font-size: 20px;
    font-weight: 400;
    color: #000000;
    margin-left: 1007px;
    margin-right: 219px;
    margin-top: 31px;
    margin-bottom: 0;
    padding-bottom: 55px;
  }

  .growth>.article-heading>.serial-number::after {
    content: '';
    display: block;
    height: 5px;
    width: 21px;
    background: #ffffff;
    align-items: center;
    margin-top: 7px;
    border-radius: 1.5px;
  }

  .growth>.article-text {
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
    margin-left: 1007px;
    margin-right: 196px;
    margin-top: 30px;
    margin-bottom: 0;
    padding-bottom: 51px;
  }

  .footballer {
    display: block;
    margin-top: -146px;
    margin-left: 392px;
    margin-right: 0;
  }

  .connection {
    margin-top: -771px;
    background-color: white;
  }

  .basketballer {
    margin-top: -150px;
    margin-right: 125px;
    z-index: 10;
  }

  .players-heading>.heading-title {
    font-size: 80px;
    font-weight: 700;
    color: #e7e7e7;
    text-transform: uppercase;
    margin-top: 117px;
    margin-left: 192px;
    margin-bottom: 0;
  }

  .players .serial-number {
    font-size: 18px;
    font-weight: 700;
    color: #000000;
    margin-left: 192px;
    margin-top: 60px;
    position: relative;
  }

  .players .connection .serial-number {
    font-size: 18px;
    font-weight: 700;
    color: #000000;
    margin-left: 192px;
    padding-top: 110px;
    position: relative;
  }

  .players .connection .article-title {
    font-size: 36px;
    font-weight: 700;
    color: #c1c1c1;
    text-transform: uppercase;
    margin-left: 7px;
    padding-top: 110px;
    margin-bottom: 0;
  }

  .players .article-title {
    font-size: 36px;
    font-weight: 700;
    color: #c1c1c1;
    text-transform: uppercase;
    margin-left: 7px;
    margin-top: 60px;
    margin-bottom: 0;
  }

  .players .article-text {
    font-size: 20px;
    font-weight: 400;
    color: #000000;
    margin-left: 192px;
    margin-right: 973px;
    margin-top: 32px;
    margin-bottom: 0;
    padding-bottom: 55px;
  }

  .section-heading {
    display: flex;
  }

  .find-contact .section-heading {
    display: flex;
    flex-direction: row-reverse;
  }

  .header-image {
    width: 50%;
    background-size: contain;
  }

  .text-container {
    width: 50%;
  }

  .number-container {
    width: 168px;
    height: 155px;
    background-color: #5e42b0;
    margin-top: 211px;
    margin-left: 876px;
    position: absolute;
  }

  .find-contact .number-container {
    width: 168px;
    height: 155px;
    background-color: #5e42b0;
    margin-top: 211px;
    margin-left: -876px;
    position: absolute;
  }

  .serial-number-container {
    display: block;
    font-size: 24px;
    font-weight: 700;
    color: #f5f6f7;
    margin-top: 49px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .serial-number-container::after {
    content: '';
    display: block;
    height: 5px;
    width: 25px;
    background: #ffffff;
    opacity: 0.6;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1.5px;
  }

  .section-title {
    font-size: 80px;
    color: #e7e7e7;
    margin-left: 128px;
    margin-top: 260px;
    margin-bottom: 118px;
    text-transform: uppercase;
  }

  .section-text {
    font-size: 24px;
    font-weight: 400;
    color: #000000;
    margin-left: 128px;
    margin-right: 213px;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 242px;
  }

  .footer {
    background-image: url(../images/game_1280.jpg);
  }

  .footer-heading {
    display: flex;
  }

  .logo-container {
    padding-top: 229px;
  }

  .logo-square {
    display: block;
    width: 130px;
    height: 137px;
    background-color: #53399f;
    margin-left: 526px;
    border-radius: 25px;
    z-index: 10;
    position: relative;
  }

  .footer-logo {
    display: block;
    fill: #ffffff;
    z-index: 10;
    position: relative;
    width: 105px;
    height: 87px;
    padding-top: 24px;
    margin-left: auto;
    margin-right: auto;
  }

  .downloading {
    margin-top: 229px;
    margin-left: 37px;
  }

  .download {
    font-size: 80px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    z-index: 8;
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
  }

  .download-text {
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    color: #9b8ec1;
    z-index: 8;
    position: relative;
    margin-top: 23px;
    margin-bottom: 151px;
    text-align: left;
  }

  .footer .android-button {
    margin-bottom: 262px;
  }

  .footer-logo-text {
    display: block;
    fill: white;
    width: 191px;
    height: 52px;
    margin-top: 0;
    padding-bottom: 52px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 10;
  }
}